{
  "extends": "airbnb-base",
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "import/extensions": ["ignorePackages"],
    "max-len": [1, 120, { "tabWidth": 2, "ignoreComments": true }],
    "no-console": "off"
  }
}
